body{
  margin: 0;
  padding: 0;
}

.header{
  height: 5rem;
  background-color: #EEA465;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.header> h2{
  font-size: 2.6rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.input-wrapper{
  /* background-color: black; */
  height: 60vh;
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  align-items: center;
}

input{
  display: none;
}

label{
  color: #777777;
  display: block;
  height: fit-content;
  width: fit-content;
  border: solid;
  border-radius: 8px;
  border-width: 2px;
  cursor: pointer;
}

label:hover{
  opacity: 50%;
  transition: opacity 0.5s linear;
}